@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: #071E22;
    margin-left: 126px;
    margin-right: 67px;
    margin-top: 112.08px;
}

.home {
    display: flex;
    flex-direction: row;
}

.titulo-home {
    color: #D9D9D9;
    font-family: 'Poppins';
    display: flex;
    padding-bottom: 29px;
    font-size: 42.75px;
    display: flex;
    padding-right: 42px;
}

span {
    color: #D64933;
    margin: 0 10px;
}

.p-home {
    color: #D9D9D9;
    font-family: 'Inter';
    text-align: justify;
    font-size: 22.05px;
    display: flex;
    padding-right: 36px;
}

.imagens-home {
    display: flex;
    flex-direction: row;
    padding-bottom: 188px;
}

.imagem1 {
    display: flex;
    padding-right: 13px;
}

.imagem2 {
    display: flex;
    padding-bottom: 19px;
}