:root{
    --color-fundo:#071E22 ; 
    --color-secundária: #3891A6 ;
    --color-textop1: #ffffff ;
    --color-titulo:#d64933;
    --color-dest: #000000; 
}

footer{
    color:var(--color-textop1);
}

hr{
    border-color:var(--color-dest); 
}

.fotter_content{
    background-color: var(--color-secundária);
    align-items: center; 
}

#footer_ms{
    display:flex; 
    gap: 15px; 
    justify-content: center;
    margin-top: 0.8rem;
}

.footer-fc{
    color: var(--color-textop1);
    text-decoration: none;
}

#footer_ms .link{
    height: 2rem;
    width: 2rem;
    color: var(--color-textop1); 
    border-radius: 25%; 
}

main{
    height: 80vh;
}

.footer_logo {
    justify-content: center;
}
  
  .figura_logo {
    margin: 50px auto 0;
    display: block;   
}
  
  .text {
    text-align: center;
    font-size: 18px;
    margin: 30px 0; 
}