:root{
    --color-fundo:#071E22 ; 
    --color-secundária: #3891A6 ;
    --color-textop1: #ffffff ;
    --color-titulo:#d64933;
    --color-dest: #000000; 
}

body {
    background-color: var(--color-fundo);
    margin: 0; 
    padding: 0; 
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.title {
    text-align: center;
    font-family: 'poppins';
    font-weight: bold;
    font-size: 40px;
    color: var(--color-textop1); 
    text-transform: uppercase;
    margin-top: 30px;
}

.spandestaque{
    color: var(--color-titulo);
}

.container{
    display:flex;
    align-items: center;
    justify-content: center;
}


.app{
    color: var(--color-textop1); 
    margin-top: 45px;
    font-size: 30px;
    font-family: 'poppins';
    font-weight: bold;
    text-transform: uppercase;
}

.texto{
    color: var(--color-textop1); 
    margin-top: 10px ;
    font-size: 20px; 
    font-family: 'inter';
}

.btn-baixar{
    background-color: var(--color-titulo);
    color: var(--color-textop1);
    border: none;
    width: 145px;
    height: 35px;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    display: block;
    margin: 20px auto 15px;
    transition: all 0.5s ease;
}

.btn-baixar:hover{
    background-color: #ff6d57;
    transform: scale(1.2)
}

.ajuste{
    text-decoration: none;
}

.image-app{
    margin-left: 15px;
}

